<h1>Mutaciones</h1>
<hr />
<div class="row">
  <div class="col-6">
    <input
      #txtEmail
      type="text"
      class="form-control mb-2"
      [value]="user().email"
      (input)="onFieldUpdated('email', txtEmail.value)"
    />

    <input
      #txtFirstName
      type="text"
      class="form-control mb-2"
      [value]="user().first_name"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
    />

    <input
      #txtLastName
      type="text"
      class="form-control mb-2"
      [value]="user().last_name"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
    />
  </div>

  <div class="col-6">
    <pre>
      {{ user() | json }}

      {{ fullName() }}
    </pre>
  </div>
</div>
